<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
	
	<script src="/assets/code/medium-zoom.min.js"></script>
<script>
  // This automatically target all images inside your blog posts
  mediumZoom('.post-content img, .page-content img', {
    margin: 24,
    background: '#fff'
  });
</script>

  </body>

</html>
